/* Font */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* font-family: 'Kumbh Sans', sans-serif; */

/* Global Variables */
:root {
  /* Text */
  --clr-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-Soft-red: hsl(14, 88%, 65%);
  --clr-Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --clr-Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Gradient */
  --clr-Soft-violet: hsl(273, 75%, 66%);
  --clr-Sof-blue: hsl(240, 73%, 65%);
  --clr-Light-grayish-blue: hsl(240, 5%, 91%);
  --ff--primary: "Kumbh Sans", sans-serif;
  --radius: 1rem;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff--primary);
  min-height: 100vh;
  background-image: linear-gradient(
    var(--clr-Soft-violet),
    var(--clr-Sof-blue)
  );
}

.card {
  background: #fff;
  border-radius: 2rem;
  margin: 9.25rem 1.5rem;
  max-width: 56rem;
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center 0%;
  background-size: 15rem;
}
.card__box {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.card__image {
  position: relative;
}
.card__image img {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: -6.8rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 15rem;
  margin: auto;
}
.card__text {
  padding-top: 8.25rem;
}
/* Responsive Card */
@media screen and (min-width: 56em) {
  .card {
    position: relative;
    display: flex;
    margin: 6rem auto;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: -13% center;
  }
  .card__box {
    display: block;
    top: 59%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  .card__image {
    padding-right: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .card__image img {
    left: 0;
    top: 50%;
    transform: translateX(-4rem) translateY(-50%);
    max-width: 25rem;
  }
  .card__text {
    padding-top: 0;
  }
  .card__image,
  .card__text {
    flex: 1;
  }
  /* Text */
}
